<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eatsdeliveryapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EatsDeliveryApp">
        <activity
            android:name=".Cliente.ModificarDireccion"
            android:exported="true" />
        <activity android:name=".Cliente.HistorialPedidos" />
        <activity android:name=".Cliente.PedidosActivos" />
        <activity android:name=".Cliente.VerCarrito" />
        <activity
            android:name=".administrador.repartidor.EncargoPedido"
            android:exported="true" />
        <activity
            android:name=".administrador.encargado.PantallaModificarPlato"
            android:exported="true" />
        <activity android:name=".Cliente.DetalleProducto" />
        <activity
            android:name=".administrador.encargado.PantallaInsertarPlato"
            android:exported="true" />
        <activity
            android:name=".administrador.encargado.PantallaModificarRestaurante"
            android:exported="true" />
        <activity
            android:name=".administrador.gerente.PantallaPeticionEliminar"
            android:exported="true" />
        <activity
            android:name=".administrador.gerente.PantallaInsertarRestaurantes"
            android:exported="true" />
        <activity android:name=".Cliente.BusquedaRestaurante" />
        <activity android:name=".Cliente.AnadirDireccion" />
        <activity android:name=".Cliente.DetalleRestaurante" />
        <activity
            android:name=".administrador.PantallaAdminDefault"
            android:exported="true" />
        <activity
            android:name=".administrador.repartidor.PantallaRepartidor"
            android:exported="true" />
        <activity
            android:name=".administrador.encargado.PantallaEncargado"
            android:exported="true" />
        <activity
            android:name=".administrador.gerente.PantallaGerente"
            android:exported="true" />
        <activity
            android:name=".administrador.LogInAdmin"
            android:exported="true" />
        <activity android:name=".Cliente.MenuCliente" />
        <activity
            android:name=".PantallaGestionarDireccion"
            android:exported="true" />
        <activity
            android:name=".Cliente.PantallaTarjeta"
            android:exported="true" />
        <activity android:name=".Cliente.PantallaPrincipalCliente" />
        <activity android:name=".Cliente.PantallaRegistroCliente" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>